.App {
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: 'Bigelow Rules', cursive;
  color: #0ccac4;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 24px;
}